body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, #000, #222, #888);
    display: flex;
    flex-direction: column;
    padding: 30px 400px;
}

img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    color: #bbb;
}

.paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #eee;
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #888, #fff);
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-name,
.years-alive {
    padding: 0;
    margin: 0;
}